<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gcpe.Hub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <applicationSettings>
    <Gcpe.Hub.Properties.Settings>
      <setting name="SubscribeBaseUri" serializeAs="String">
        <value />
      </setting>
      <setting name="ActiveDirectoryDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="AdminGroups" serializeAs="String">
        <value />
      </setting>
      <setting name="ContributorGroups" serializeAs="String">
        <value />
      </setting>
      <setting name="DoExceptionLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value />
      </setting>
      <setting name="TypedownItemLimit" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="permissions_1" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_2" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_4" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_5" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_6" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_7" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_8" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_9" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_10" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_11" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_12" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_13" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_14" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_105" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_106" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_107" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_108" serializeAs="String">
        <value />
      </setting>
      <setting name="permissions_109" serializeAs="String">
        <value />
      </setting>
    </Gcpe.Hub.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
