<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HubEntities" connectionString="metadata=res://Gcpe.Hub.Data_Legacy/Entity.HubEntities.csdl|res://Gcpe.Hub.Data_Legacy/Entity.HubEntities.ssdl|res://Gcpe.Hub.Data_Legacy/Entity.HubEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=DbServer;Database=DbName;Integrated Security=true;MultipleActiveResultSets=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>