/* DEFAULTS
----------------------------------------------------------*/
body {
    color: #696969;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}

/*
    FONTS
    ------------------------------------------------------*/
*, body, html {
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-family: Verdana;
}

body, html {
    font-size: 12px;
}

/* HEADINGS
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
    margin-bottom: 10px;
}


/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.navbar {
    position: relative;
    margin-bottom: 0px;
    min-height: 45px;
    background: #4b6c9e;
}
@media only screen and (min-device-width: 768px) {
.navbar {
    padding-top: 5px;
}
}


    .navbar .titleprefix {
        float: left;
    }

    .navbar .title, .navbar .titleprefix {
        color: #f9f9f9;
        font-size: 1.9em;
        font-family: 'Century Gothic';
        font-weight: bold;
        font-variant: small-caps;
    }

    .navbar-toggle {
        margin-top: 4px
    }

    .navbar-header .title {
        padding-right:20px;
        padding-left:5px;
    }

    .navbar .navbar-nav {
        font-size: 1.2em;
    }

.main {
    min-height: 420px;
    width: 100%;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.loginDisplay {
    font-size: 0.9em;
    /*display: block;*/
    text-align: left;
    color: #cccccc;
    padding: 2px 0px 0px 5px;
    /*border-bottom: dotted 1px #3a4f63;
    
    width: 100%;
    background-color: #404040;*/
}

    .loginDisplay a:link {
        color: white;
    }

    .loginDisplay a:visited {
        color: white;
    }

    .loginDisplay a:hover {
        color: white;
    }


/* TAB MENU
----------------------------------------------------------*/

.navbar-default {
    background-color: #003366;
    border-color: #5475a7;
}

    .navbar-default .navbar-brand {
        color: #d0d0d0;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-text {
        color: #d0d0d0;
    }

    .navbar-default .navbar-nav > li > a {
        color: #d0d0d0;
        padding-top: 7px;
        padding-bottom: 7px;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            background-color: #9fabd6;
            color: #465c71;
            text-decoration: none;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #5475a7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #5475a7;
    }

    .navbar-default .navbar-toggle {
        border-color: #5475a7;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #5475a7;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #d0d0d0;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #d0d0d0;
    }

    .navbar-default .navbar-link {
        color: #d0d0d0;
    }

        .navbar-default .navbar-link:hover {
            color: #ffffff;
        }

/* Hide disabled nav menu items. This way you don't have to remove the item from the collection. */
div.navbar ul li a.aspNetDisabled {
    display: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em 1em 0 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    margin: 0;
    border-bottom: 0;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}




.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}

/* Datepicker Fix */
#ui-datepicker-div {
    display: none;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    border: none;
    box-shadow: none;
}

.modal-header-gridHeader {
    color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    background-color: darkgrey;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    text-transform: capitalize;
}

.styled-placeholder::-webkit-input-placeholder {
    font-style: italic;
}

.styled-placeholder:-moz-placeholder {
    font-style: italic;
}

.styled-placeholder::-moz-placeholder {
    font-style: italic;
}

.styled-placeholder:-ms-input-placeholder {
    font-style: italic;
}