@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <h2>Welcome to HUB</h2>
        <p>Welcome GCPers. If you're looking for our legacy Hub applications you can still access them here:</p>
        <h4 style="margin-bottom: 0px;">News Release Management</h4>
        <a href="/Legacy/News/ReleaseManagement/Drafts/">https://hub.gcpe.gov.bc.ca/Legacy/News/</a>
        <h4 style="margin-bottom: 0px;">Corporate Calendar</h4>
        <a href="/Legacy/Calendar/">https://hub.gcpe.gov.bc.ca/Legacy/Calendar/</a>
        <h4 style="margin-bottom: 0px;">Media Contacts</h4>
        <a href="/Legacy/Contacts/">https://hub.gcpe.gov.bc.ca/Legacy/Contacts/</a>
        <br />
        @*<div>
            <h4>WHAT'S NEW</h4>
            The first version of the Media Request Management system is now live.<br /><br />
            You can play in our TEST sandbox by going to the <a href="https://test.hub.gcpe.gov.bc.ca/mediarequests">
                Test Environment
            </a> here:  <a href="https://test.hub.gcpe.gov.bc.ca/mediarequests">https://test.hub.gcpe.gov.bc.ca/mediarequests.</a> <br /><br />
            Or, you can start using this tool for real in the <a href="https://hub.gcpe.gov.bc.ca/mediarequests">PRODUCTION environment</a>:  <a href="https://hub.gcpe.gov.bc.ca/mediarequests">https://hub.gcpe.gov.bc.ca/mediarequests</a><br /><br />
            <ul>
                <li>We will be piloting a few ministries Monday, October 3 and Tuesday, October 4.</li>
                <li><span style="color:red;">All remaining ministries will go live on Wednesday, October 5.</span></li>
                <li>A week later, on Thursday, October 13 we will have the first workshop of user enhancements</li>
            </ul>
            <p>Once you begin using the tool, <span style="color:red;"> please input your media request within 5 minutes</span> of being contacted by the reporter. Once you add the request, you'll receive an automatic email that you can send on to your minister's office to begin your normal management/approval process.</p>
            <p>At this time, you are NOT expected to provide updates during the day via the app.</p>
            <p>The Business & Communications Solutions development team relies on your insights to make this a product which will add value for everyone. We look forward to hearing from you <a href="https://gcpe.gov.bc.ca/hub/Lists/Posts/Post.aspx?ID=3">via our blog comments</a> or directly to <a href="mailto:Anne.Krutzmann@gov.bc.ca">Anne Krutzmann</a>.  Please contact Matt Gordon if you have any questions not for the solutions team.</p>
            <p>We look forward to your feedback! </p>
        </div>*@
    </div>

</div>