<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- ==========================================================================  
    Database Connection Settings (Gcpe.Calendar.Data, Gcpe.Contacts.Data, Gcpe.Hub.Data_Legacy)

    These settings will override the sql server connection string settings.
    Default Connection strings will be stored in Web.Config

    Connection Strings that will be updated at runtime are:

    HubEntities
    Gcpe_CalendarConnectionString
    MediaRelationsEntities
    =========================================================================== -->

  <!--
    Override Server value in Connection String  
  -->  
  <add key="DbServer" value="" />
  <!--
    Override Database value in Connection String  
  -->  
  <add key="DbName" value="Gcpe.Hub" />

  <!-- ==========================================================================  
   Customizations - Resources, Images, Text etc
  =========================================================================== -->
  <!-- 
    path to the favicon 
    ex. ~/Resources/BC/favicon.ico
  -->
  <add key="FaviconImg" value="" />
  
  <!-- 
   Path to image for Contacts / Media Relations database Application header.
   ex. ~/Resources/BC/MediaRelations@2x.png
  -->
  <add key="ContactsHeaderImg" value="" />
  
  <!-- 
   Path to image for Calendar Reports Cover.
   This is used to build out a file path, so use \\ for directory separtors
   ex. \\Resources\\BC\\LookAheadCover.png
  -->
  <add key="CalendarLookAheadCoverImg" value="" />
  
  <!-- 
   This is an absolute url to help pages for News.
   Part of the path (the actual help file name) is passed in to build the absolute URL.
   Value must have a placeholder for the page name.
   ex. https://gcpe.gov.bc.ca/help/hub/Pages/{0}.aspx
  -->
  <add key="NewsHelpUrl" value="" />

  <!-- ==========================================================================  
    Calendar Settings (Library)
  =========================================================================== -->

  <!-- 
    LDAP Url, for authorization and authentication
    Connect to Active Directory domain for the application.
  -->
  <add key="LdapUrl" value=""/>

  <!-- 
    The Active Directory Domain Context Name (ldap dc).
    Part of the login name. ex. MYDOMAIN\myaccountname

    This property is also used in Contacts/Media library
  -->
  <add key="ActiveDirectoryDomain" value="" />

  <!--
    Outbound Mail server

    This property is also used in Contacts/Media library
  -->
  <add key="SMTPServer" value="" />

  <!--
    Email account used as the sender of log/error messages for Coporate Calendar
  -->
  <add key="LogMailFrom" value="" />

  <!--
    Email account to receive log and error messages for Corporate Calendar
  -->
  <add key="LogMailTo" value="" />
  <!--
    Comma Separated List of Ministries in Database considered owners of the data.
    Also used in the UI.
  -->
  <add key="ApplicationOwnerOrganizations" value="GCPEHQ,GCPEMEDIA,PREM" />

  <!--
    Single Ministry considered the Headquarters.
  -->
  <add key="HQAdmin" value="GCPEHQ" />

  <!-- ==========================================================================  
    Calendar Settings (Website / UI)
  =========================================================================== -->

  <add key="Version" value="8" />

  <!--
    Comma Separated List of Ministries that will be excluded from "Shared across/with Ministry" selection list
  -->
  <add key="SharedWithExcludes" value="GCPEHQ,GCPEMEDIA" />

  <!-- 
    Location of Help File
    Expected to be a valid HREF.
  -->
  <add key="HelpFileUri" value="" />

  <!-- 
    Calendar Activity Configuration
    Show various fields, make various fields required
    Boolean (true/false)

    Do not mark a field as required = true and show = false
    That will trigger validation of a field the user cannot populate.
  -->
  <add key="SignificanceIsRequired" value="true" />
  <add key="SchedulingIsRequired" value="true" />
  <add key="StrategyIsRequired" value="false" />
  <add key="ShowScheduleField" value="true" />
  <add key="ShowSignificanceField" value="true" />
  <add key="ShowHqCommentsField" value="false" />
  <add key="ShowRecordsSection" value="false" />

  <!--
    Calendar Table Administration Configuration (does not affect SysAdmin)
    Boolean (true/false)
  -->
  <add key="DisableEditTable" value="true" />

  <!-- ==========================================================================  
    Contacts/Media Settings (Library)
  =========================================================================== -->

  <!--
    URI for News On Demand Subscription Service
    Used in Contacts Library and News Release Management in Website
  -->
  <add key="SubscribeBaseUri" value="" />

  <!--
    Exceptions raised and thrown, or just logged
    Boolean (true/false)
  -->
  <add key="DoExceptionLogging" value="false" />

  <!--
    Comma Separated List of Active Directory groups used to determine Contributors
    A User is considered a contributor if in one of these groups.
    For add/edit company, add/edit contact
  -->
  <add key="ContributorGroups" value="" />

  <!--
    Comma Separated List of Active Directory groups used to determine Admins
    A User is considered a Admin if in one of these groups.
    For add/edit company, add/edit contact
  -->
  <add key="AdminGroups" value="" />
  <!--
    Limit the number of items in typedown list (ajax search results)
  -->
  <add key="TypedownItemLimit" value="20" />

  <!-- 
    Site Maintenance, remove deleted records older than this.
    Integer
  -->
  <add key="CompanyPurgeDays" value="90" />

  <!-- 
    Site Maintenance, remove deleted records older than this.
    Integer
  -->
  <add key="ContactPurgeDays" value="90" />

  <!-- 
    Site Maintenance, specify deleted record earliest date range (leave records for lookback)
    Integer
  -->
  <add key="LookBackDays" value="10" />

  <!-- 
    Site Maintenance, on session start, check to see if purge needs to be run.
    Integer
  -->
  <add key="PurgeTaskFrequencyHours" value="24" />

  <!-- ==========================================================================  
    Contacts/Media Settings (Website / UI)
  =========================================================================== -->

  <!--
    Boolean (true/false)
    Disable the email link
  -->
  <add key="DisableEmail" value="true" />

  <!--
    From email for Contacts/Media Relations.
  -->
  <add key="FromEmailAddress" value="" />

  <!--
    Integer
    How many email addresses added to email
  -->
  <add key="MaxBccEmails" value="30" />

  <!-- ==========================================================================  
    Contacts/Media Permissions
    Permissions follow the following pattern: SiteSection/ADGroup/SiteAction|SiteAction
    A single string separated with / into 3 parts; with the last part further separated with |
    
    ex. MediaRelationsCompany/FIN_AP_GCPE_MDRLTNS_SDLC_TSTRS/Read|Create|Update
    
    See Gcpe.Contacts.Library/Permissions.cs
    for enums of SiteSection and SiteAction
  =========================================================================== -->

  <!--Contacts: contributor -->
  <add key="permissions_1" value="MediaRelationsCompany/ADGroup/SiteAction" />
  <add key="permissions_2" value="MediaRelationsContact/ADGroup/SiteAction" />
  <add key="permissions_4" value="MediaRelationsUserReports/ADGroup/SiteAction" />
  <add key="permissions_5" value="MediaRelationsCommonReports/ADGroup/SiteAction" />
  <add key="permissions_6" value="MediaRelationsApprovals/ADGroup/SiteAction" />
  <add key="permissions_7" value="MediaRelationsSearch/ADGroup/SiteAction" />

  <!--Contacts: admin -->
  <add key="permissions_8" value="MediaRelationsCompany/ADGroup/SiteAction" />
  <add key="permissions_9" value="MediaRelationsContact/ADGroup/SiteAction" />
  <add key="permissions_10" value="MediaRelationsDataLists/ADGroup/SiteAction" />
  <add key="permissions_11" value="MediaRelationsUserReports/ADGroup/SiteAction" />
  <add key="permissions_12" value="MediaRelationsCommonReports/ADGroup/SiteAction" />
  <add key="permissions_13" value="MediaRelationsApprovals/ADGroup/SiteAction" />
  <add key="permissions_14" value="MediaRelationsSearch/ADGroup/SiteAction" />

  <!--Contacts: read only -->
  <add key="permissions_105" value="MediaRelationsCompany/ADGroup/SiteAction" />
  <add key="permissions_106" value="MediaRelationsContact/ADGroup/SiteAction" />
  <add key="permissions_107" value="MediaRelationsUserReports/ADGroup/SiteAction" />
  <add key="permissions_108" value="MediaRelationsCommonReports/ADGroup/SiteAction" />
  <add key="permissions_109" value="MediaRelationsSearch/ADGroup/SiteAction" />


  <!-- ==========================================================================  
    Hub Legacy Website News / Release Management configuration
  =========================================================================== -->
  
  <!-- ==========================================================================  
    Azure Storage Connection Configuration (Gcpe.Hub.Legacy.Website)

    These values will be used to build the CloudStorageAccount connection string.
    Note: there is no default connection string to override.  These values will build the string as:
    DefaultEndpointsProtocol={CloudEndpointsProtocol};AccountName={CloudAccountName};AccountKey={CloudAccountKey};EndpointSuffix={CloudEndpointSuffix}
  =========================================================================== -->

  <add key="CloudEndpointsProtocol" value="" />
  <add key="CloudAccountName" value="" />
  <add key="CloudAccountKey" value="" />
  <add key="CloudEndpointSuffix" value="" />

  <!--
    URI for News Host
    This is where the published news releases are hosted/available.
  -->
  <add key="NewsHostUri" value="" />

  <!-- 
    URI for Media Assets
  -->
  <add key="MediaAssetsUri" value="" />

  <!-- 
    UNC or mapped drive for publishing artifacts
  -->
  <add key="PublishLocation" value="" />

  <!-- 
    UNC or mapped drive(s) for deploying artifacts
    Comma separated list.
  -->
  <add key="DeployLocations" value="" />

  <!-- 
    UNC for Media Assets
    Used when LOCAL_MEDIA_STORAGE is defined
  -->
  <add key="MediaAssetsUnc" value="" />
  <!-- 
    UNC for deploying Assets
    Comma separated list
    Used when LOCAL_MEDIA_STORAGE is defined
  -->
  <add key="DeployFolders" value=""/>

  <!-- 
    UNC for media asset manament
    Used when LOCAL_MEDIA_STORAGE is defined
  -->
  <add key="NewsFileFolder" value="" />

  <!-- 
    Boolean (true/false)
    Whether to show the Forecast Tab or not.
  -->
  <add key="EnableForecastTab" value="false" />

  <!-- 
    Flicker configuration
  -->
  <add key="FlickrApiKey" value="" />
  <add key="FlickrApiSecret" value="" />
  <add key="FlickrApiToken" value="" />
  <add key="FlickrApiTokenSecret" value="" />
  <add key="FlickrApiVerifier" value="" />

  <!-- ==========================================================================  
    Hub Legacy Website Configuration
  =========================================================================== -->

  <!--
    Comma Separated list of Servers that we can mine for Site Minder headers
    ex. SM_USER
    Used in Authentication.
  -->
  <add key="TrustedReverseProxyServers" value="" />

  <!--
    This setting is required by the Calendar Activity page.
    You will get an error like the following without it: $(...).tooltip is not a function
  -->
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

</appSettings>
